<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div>
  <ion-list>

  <ion-item>
    <ion-label floating>Add Todo App</ion-label>
    <ion-input type="text" [(ngModel)]="todoContent.todoTask"></ion-input>
  </ion-item>

</ion-list>
 <button ion-button secondary  (click)="addTodoItem(todoContent)">Add Item</button>
 </div>
 <div>
  <ion-card  *ngFor="let item of todoItem">

  <ion-card-header>
  <span style="float: left"><ion-icon name="close" (click)="deleteTodo(item)" ></ion-icon></span>
  <span style="float: right"> <ion-icon name="bookmark" (click)="isActive(item)" *ngIf="item.isfavourite==true"></ion-icon></span>
  <span style="float: right"> <ion-icon name="ios-bookmark-outline" (click)="isActive(item)"  *ngIf="item.isfavourite==false"></ion-icon></span>
  </ion-card-header>

  <ion-card-content>
   {{item.todoTask}}
  </ion-card-content>

</ion-card>
 </div>



</ion-content>
